@import url('https://fonts.google.com/specimen/');
.attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }
  body{
      font-family:Spartan;
  }
  .heading{
      color:hsl(300, 43%, 22%);
      font-weight:700;
      
  }
  .describe{
      color: hsl(303, 10%, 53%);
     
  }
  .card1,.card2,.card3{
      color:hsl(300, 43%, 22%);
      background-color:hsl(300, 24%, 96%);
      margin-bottom:40px;
      margin:5px;
      padding:5px;
      border-radius:8px;
      margin-top:30px;
      display:inline-block;
     

  }
  .profile-photo{
      border-radius:100%;
      height:25px;
  }
  .verify{
      color:hsl(303, 10%, 53%);
      margin-top:5px;
      margin-bottom:5px;

  }
  .review-card{
     background-color:hsl(300, 43%, 22%);
     color:white; 
     padding:25px;
     border-radius:10px;
     margin-bottom:10px;
     margin:25px;
  }
  .review{
      display:flex;
      align-items:center;
      margin-left:25px;
      margin-right:25px;
  }
  .opinion{
      font-size:15px;
  }
  .top{
      display:flex;
      justify-content:space-between;
      margin:60px 50px 50px 50px;
     
  }
  .cards{
      width:50%;

  }
  .head{
    width:40%;

  }
  .card2{
      margin-left:40px;
     
  }
  .card3{
      margin-left:80px;
      
  }
  @media  screen and ( max-width:375px) {
      .head{
         width:100%;
         margin:auto;
      }
      .heading{
          text-align: center;
      }
      .top{
          display:flex;
          justify-content: space-evenly;
          flex-direction: column;
          margin:30px 30px 30px 20px;
        
      }
      .card1,.card2,.card3{
         margin:auto;
         width:100%;
         margin-bottom:30px;
         text-align: center;
      }
      .cards{
          width:100%;
          padding:20px;
      }
      .stars{
          display:block;
          text-align: center;
      }
      .describe{
          text-align:center;
      }
      .review{
          display:flex;
          flex-direction: column;

      }
      
  }
  